<main>
  <h1 i18n>Ajouter un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()" autocomplete="off">
    <mat-form-field>
      <mat-label i18n>Nom</mat-label>
      <input matInput formControlName="name" [matAutocomplete]="auto" />
      <mat-hint>Entrer au moins 3 caractères</mat-hint>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="f.controls.name.hasError('required')">
        Name is required.
      </mat-error>
      <mat-error *ngIf="f.controls.name.hasError('backEnd')">
        {{ f.controls.name.getError("backEnd") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Prix</mat-label>
      <input matInput formControlName="price" type="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Quantité</mat-label>
      <input matInput formControlName="qty" type="number" />
    </mat-form-field>
    <div class="error">
      <span *ngIf="errorMsg">Erreur : {{ errorMsg }}</span>
    </div>
    <div class="buttons">
      <button
        mat-flat-button
        color="primary"
        [disabled]="f.invalid || isAdding"
      >
        <mat-icon *ngIf="!isAdding">add</mat-icon>
        <mat-icon *ngIf="isAdding">
          <mat-spinner [diameter]="16"></mat-spinner>
        </mat-icon>
        <span i18n>Ajouter</span>
      </button>
    </div>
  </form>
</main>
