div.content {
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  div.error {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  nav {
    display: flex;
    align-items: center;

    gap: 0.3em;
  }

  div.loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  tr[mat-header-row] {
    background-color: #bbb;
    th {
      font-weight: bold;
    }
  }
  tr[mat-row] {
    &:nth-child(even) {
      background-color: #eee;
    }

    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }

    &.selected {
      background-color: #ccc;
    }

    .mat-column-price,
    .mat-column-qty {
      text-align: right;
    }
  }
}
