<main>
  <h1 i18n>Liste des articles</h1>
  <div class="content">
    <div class="error">
      <span *ngIf="errorMsg"><span i18n>Erreur : </span>{{ errorMsg }}</span>
    </div>
    <nav>
      <button
        mat-icon-button
        i18n-aria-label
        aria-label="Rafraîchir"
        i18n-matTooltip
        matTooltip="Rafraîchir"
        (click)="refresh()"
        [disabled]="isRefreshing"
        [class.spinner]="isRefreshing"
      >
        <mat-icon *ngIf="!isRefreshing">refresh</mat-icon>
      </button>
      <a
        mat-icon-button
        routerLink="create"
        i18n-aria-label
        aria-label="Ajouter"
        i18n-matTooltip
        matTooltip="Ajouter"
      >
        <mat-icon>add</mat-icon>
      </a>

      <button
        mat-icon-button
        i18n-aria-label
        aria-label="Supprimer"
        i18n-matTooltip
        matTooltip="Supprimer"
        [hidden]="selectedArticles.size === 0"
        (click)="remove()"
        [disabled]="isRemoving"
      >
        <mat-icon *ngIf="!isRemoving" fontSet="outlined">delete</mat-icon>
        <mat-icon *ngIf="isRemoving">
          <mat-spinner [diameter]="24" color="warn"></mat-spinner>
        </mat-icon>
      </button>
    </nav>

    <table
      *ngIf="articleService.articles; else loadingArticles"
      mat-table
      [dataSource]="articleService.articles"
    >
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef i18n>Nom</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef i18n>Prix</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef i18n>Quantité</th>
        <td mat-cell *matCellDef="let element">{{ element.qty }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let article; columns: displayedColumns"
        (click)="select(article)"
        [class.selected]="selectedArticles.has(article)"
      ></tr>
    </table>

    <ng-template #loadingArticles>
      <div
        class="loading"
        *ngIf="articleService.errorMsg === ''; else showError"
      >
        <mat-spinner [diameter]="24"></mat-spinner>
      </div>
      <ng-template #showError>
        <div class="error">
          <strong>
            <span i18n>Erreur : </span>
            <span>{{ articleService.errorMsg }}</span>
          </strong>
        </div>
      </ng-template>
    </ng-template>
  </div>
</main>
