div.content {
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  div.error {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  nav {
    display: flex;
    align-items: center;

    gap: 0.3em;
  }

  div.loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table.mat-mdc-table {
    border: 1px solid #bbb;
    tr.mat-mdc-header-row {
      background-color: #bbb;
      th {
        font-weight: bold;
      }
    }
    tr.mat-mdc-row {
      &:nth-child(even) {
        background-color: #eee;
      }

      cursor: pointer;

      &:hover {
        background-color: #ddd;
      }

      &.selected {
        background-color: #ccc;
      }

      .mat-column-price,
      .mat-column-qty {
        text-align: right;
      }
    }
  }
}
